<h1 class="govuk-heading-xl">Home#index</h1>
<div>
    <%= govuk_inset_text(text: "Important message")%>
</div>

<%= govuk_accordion do |accordion|
accordion.with_section(heading_text: "One") { tag.p("One content") }

accordion.with_section(heading_text: "Two") { tag.p("Two content") }

accordion.with_section(heading_text: "Three", expanded: true) { tag.p("Three content") }
end %>
<%= button_to( "Log Out", destroy_user_session_path, method: :delete ) %>
