<h1>Editing leave period</h1>

<%= render "form", leave_period: @leave_period %>

<br>

<div>
  <%= link_to "Show this leave period", @leave_period %> |
  <%= link_to "Back to leave periods", leave_periods_path %>
</div>
